<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>backbone.hoard by cmaher</title>

  <link rel="stylesheet" href="../stylesheets/styles.css">
  <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1>Backbone.Hoard</h1>

    <p>XHR de-duping and configurable caching for Backbone.js</p>

    <p class="view"><a href="https://github.com/cmaher/backbone.hoard">View the Project on GitHub
      <small>cmaher/backbone.hoard</small>
    </a></p>
    <p></p><a href="https://gitter.im/cmaher/backbone.hoard">Get help on Gitter</a></p>
    <p><a href="http://www.conductor.com/nightlight/using-backbone-hoard-spare-server-sanity/">Why use Backbone.Hoard?</a></p>
    <p><a href="/slides">Slides</a></p>
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
  </footer>
</div>
<script src="../javascripts/scale.fix.js"></script>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-38761388-2");
    pageTracker._trackPageview();
  } catch (err) {
  }
</script>
</body>
</html>